__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
.venv/
pip-log.txt
pip-delete-this-directory.txt

.ipynb_checkpoints
*.ipynb_checkpoints
*.nbconvert.ipynb

.env/
.venv/

.vscode/
*.code-workspace

.DS_Store

*.log

htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/
.cache/
nosetests.xml
coverage.xml

*.egg-info/
dist/
build/
.eggs/
*.egg

data/*.csv
data/*.xlsx
data/*.sqlite

*.html
*.png
*.svg

Thumbs.db


*.swp
*.swo
